<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.song.demoset">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_rain"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demo.song.view.MyViewListActivity"
            android:label="@string/title_activity_my_view_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.demo.song.view.HorizontalScrollActivity" />
        <activity android:name="com.demo.song.view.ListViewTestAcctivity" />
        <activity android:name="com.demo.song.behavior.BehaviorActivity" />
        <activity android:name=".list.BaseListActivity" />
        <activity android:name="com.demo.song.behavior.MyBehaviorListActivity" />
        <activity
            android:name="com.demo.song.behavior.coordinatorlayoutDemo"
            android:label="@string/title_activity_coordinatorlayout_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.demo.song.activitydemo.AllActivityListActivity" />
        <activity
            android:name="com.demo.song.activitydemo.activitys.BlankActivity"
            android:label="@string/title_activity_blank"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.demo.song.activitydemo.activitys.EmptyActivity" />
        <activity
            android:name="com.demo.song.activitydemo.activitys.FullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="com.demo.song.activitydemo.activitys.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.demo.song.activitydemo.activitys.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.demo.song.activitydemo.activitys.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.demo.song.activitydemo.activitys.TabberActivity"
            android:label="@string/title_activity_tabber"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.demo.song.theme.ThemeDemoActivity" />
        <activity
            android:name="com.demo.song.theme.StatusBarActivity"
            android:label="@string/title_activity_status_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.demo.song.view.BannerViewActivity" />
        <activity android:name="com.demo.song.dialog.AlertDialogActivity" />
        <activity android:name="com.demo.song.dialog.MyDialogListActivity" />
        <activity android:name="com.demo.song.dialog.DialogFragmentActivity" />
        <activity android:name="com.demo.song.fragment.MyFragmentListActivity" />
        <activity android:name="com.demo.song.fragment.FragmentDemoActivity" />
        <activity android:name="com.demo.song.fragment.FragmentChangeActivity" />
        <activity android:name="com.demo.song.drawable.MyDrawableListActivity" />
        <activity android:name="com.demo.song.drawable.shape.ShapeActivity" />
        <activity android:name="com.demo.song.drawable.shape.LayerListActivity" />
        <activity android:name="com.demo.song.service.MyServiceListActivity" />
        <activity android:name="com.demo.song.service.ServiceActivity" />
        <activity android:name="com.demo.song.webview.MyWebViewListActivity" />
        <activity android:name="com.demo.song.webview.WebviewTestActivity" />

        <service
            android:name="com.demo.song.service.service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.demo.song.service.service.MyIntentService"
            android:exported="false" />

        <activity android:name="com.demo.song.animate.MyAnimateListActivity" />
        <activity android:name="com.demo.song.animate.AnimateActivity" />
        <activity android:name="com.demo.song.view.PercentCircleViewActivity" />
        <activity android:name="com.demo.song.view.BarChartActivity" />
        <activity android:name="com.demo.song.view.MeiTuanRefreshActivity" />
        <activity android:name="com.demo.song.view.TimeClockActivity" />
        <activity android:name="com.demo.song.frame.MyFrameListActivity" />
        <activity android:name="com.demo.song.frame.RetrofitActivity" />
        <activity android:name="com.demo.song.frame.ButterKnifeActivity" />
        <activity android:name="com.demo.song.frame.OkHttpActivity" />
        <activity
            android:name="com.demo.song.webview.WebviewTestActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name="com.demo.song.behavior.BehaviorActivity1" />
        <activity android:name="com.demo.song.behavior.BehaviorActivity2"/>
        <activity android:name="com.demo.song.behavior.BehaviorActivity3"/>
    </application>

</manifest>